.marquee {
      position: relative;

  max-width: 1800px;
  overflow: hidden;
      padding: 30px 0;
  --speed: calc(var(--num-items) * 2s);
  --item-width: 120px;   
  --item-gap: 60px;      

  --single-slide-speed: calc(var(--speed) / var(--num-items));
  --item-width-plus-gap: calc(var(--item-width) + var(--item-gap));
  --track-width: calc(var(--item-width-plus-gap) * calc(var(--num-items) - 1));
}



.marquee-track {
  container-type: inline-size;
  display: grid;
  grid-template-columns: var(--track-width) [track] 0px [resting];
  width: max-content;
}


.marquee-item {
  width: var(--item-width);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible; 

  
  border: none;
  border-radius: 0;
  background: none;

  grid-area: resting;

  animation: marquee-move var(--speed) linear infinite
    var(--direction, forwards);

  animation-delay: calc(var(--single-slide-speed) * var(--item-position) * -1);
}


.marquee-item img,
.marquee-item svg {
  width: 100%;
  height: auto;
  object-fit: contain;

  opacity: 0.7;
  transition: all 0.3s ease;

  
  filter: grayscale(1) opacity(0.6);
}


.marquee-item:hover img,
.marquee-item:hover svg {
  transform: scale(1.1);
  opacity: 1;
  filter: none;
}


@keyframes marquee-move {
  from {
    transform: translateX(390%);
  }
  to {
    transform: translateX(calc(-100cqw - 10%));
  }
}

.fadeout-horizontal {
  position: relative;
  overflow: hidden;
}


.fadeout-horizontal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 100%;
  pointer-events: none;
  z-index: 2;

  background: linear-gradient(
    to right,
    #0b0f19 0%,
    rgba(11, 15, 25, 0.9) 40%,
    rgba(11, 15, 25, 0.0) 100%
  );
}


.fadeout-horizontal::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  pointer-events: none;
  z-index: 2;

  background: linear-gradient(
    to left,
    #0b0f19 0%,
    rgba(11, 15, 25, 0.95) 50%,  
    rgba(11, 15, 25, 0.0) 100%
  );
}
